h2 {
font-family: 'Gorditas', cursive;
    font-family: 'Noto Serif JP', serif;
    font-size: 60px;
}

a.gradation__bg {
    width: 100px;
    height: 700px;
    background: radial-gradient(#ff34ff, #8646ff);
}